@import "tailwindcss";

:root {
  --body-background: #151515;
  --page-background: #e6e6e6;
  --foreground: #151515;
  --grey: #818181;

  /* Font Family */

  /* Font Size */

  /* Font Weight */

}

@media (orientation: landscape) {
  :root {
    /* Font Size */
    --normal-size: clamp(0.2rem, 1.6vh, 4rem);
    --large-size: clamp(0.4rem, 3.2vh, 6rem);

    /* Font Weight */
    --bold: 500;

    /* Letter Spacing */
    --wide: 5rem;
  }
}

@theme inline {
  --color-background: var(--body-background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--body-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--normal-size);
}

main {
  background: var(--page-background);
}

.bold-text {
  font-weight: var(--bold);
}

.grey-text {
  color: var(--grey);
}
