@import "tailwindcss";

:root {
  --body-background: #151515;
  --page-background: #e6e6e6;
  --foreground: #151515;
  --grey: #818181;

  /* Font Family */

  /* Font Size */

  /* Font Weight */

}

@media (orientation: landscape) {
  :root {
    /* Font Size */
    --normal-size: clamp(0.2rem, 1.6vh, 4rem);
    --large-size: clamp(0.4rem, 3.2vh, 6rem);

    /* Font Weight */
    --bold: 600;

    /* Letter Spacing */
  }
}

@theme inline {
  --color-background: var(--body-background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--body-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--normal-size);
}

main {
  background: var(--page-background);
}

.bold-text {
  font-weight: var(--bold);
}

.grey-text {
  color: var(--grey);
}

.link {
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: var(--foreground);

  /* animation */
  transform-origin: left top;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.link:hover::after {
  transform: scaleX(1);
}
